hack.json
{
  "name": "Meeting Summarizer",
  "nodes": [
    {
      "parameters": {
        "calendar": "primary",
        "authentication": "oAuth2"
      },
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar Credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "list",
        "returnAll": true,
        "options": {
          "from": "={{$node[\"Google Calendar Trigger\"].json[\"attendees\"].map(attendee => attendee.email).join(',')}}",
          "since": "={{$node[\"Google Calendar Trigger\"].json[\"start\"].dateTime.minus({ days: 7 }).toISODate()}}"
        }
      },
      "name": "Get Emails from Attendees",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Credentials"
        }
      }
    },
    {
      "parameters": {
        "model": "text-davinci-003",
        "prompt": "Summarize the following emails regarding the upcoming meeting about '{{$node[\"Google Calendar Trigger\"].json[\"summary\"]}}':\n\n{{$node[\"Get Emails from Attendees\"].json.map(email => email.snippet).join('\n---\n')}}"
      },
      "name": "Summarize Emails",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Credentials"
        }
      }
    },
    {
      "parameters": {
        "channel": "YOUR_SLACK_CHANNEL",
        "text": "Meeting Summary for '{{$node[\"Google Calendar Trigger\"].json[\"summary\"]}}':\n\n{{$node[\"Summarize Emails\"].json[\"choices\"][0][\"text\"]}}"
      },
      "name": "Send Summary to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Credentials"
        }
      }
    }
  ],
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Get Emails from Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails from Attendees": {
      "main": [
        [
          {
            "node": "Summarize Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Emails": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}